.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul {
    display: flex;
}

li {
    margin: 10px;
}

table {
    width: 800px;
    margin-left: 400px;
}

ul li {
    list-style: none;
    text-align: center;
}

td {
    width: 500px;
}

.task {
    margin-left: -100px;
}

button {
    text-align: center;
    margin-left: 80px;
}

h1 {
    font-size: large;
    color: aqua;
    text-align: center;
    font-family:initial;
    font-size: 50pxs;
}